{% extends "index.html" %}

{% block top %}
<!--=== Header ===-->
<div class="wrapper">
	<div class="header">

		{% block topbar %}
		<div class="header">
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<!-- Topbar Navigation -->
					<ul class="loginbar pull-right">
						<li><div class="fb-share-button" data-href="{{url}}" data-layout="button_count"></div></li>  
						<li><div class="fb-like" data-href="{{empresa.dominio}}" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-colorscheme="light"></div></li>  
						<!--						<li class="topbar-devider"></li>
												<li>Email: <a href="mailto:{{sessoes['TOP_BAR_EMAIL']}}">{{sessoes['TOP_BAR_EMAIL']}}</a></li>
												<li class="topbar-devider"></li>
												<li>Telefone: {{sessoes['TOP_BAR_TELEFONE']}}</li>-->
					</ul>
					<!-- End Topbar Navigation -->
				</div>
			</div>
			{% endblock %}

			{% block menu %}
			<!-- Navbar -->
			<div class="navbar navbar-default mega-menu" role="navigation">
				<div class="container">
					<div class="navbar navbar-default" role="navigation">
						<div class="container">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="fa fa-bars"></span>
								</button>

								<a class="navbar-brand" href="{{base_url}}/">
									<img id="logo-header" src=" {{sessoes['LINK_IMAGEM_LOGO_PRINCIPAL']}}" alt="Logo">
								</a>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse navbar-responsive-collapse">
								<ul class="nav navbar-nav">
									<li><a href="{{base_url}}/">Home</a></li>
									<li class="active"><a href="{{base_url}}/quemsomos">Quem Somos</a></li>
									{% for menu in menus %}
									<li><a href="{{base_url}}/{{ menu.url }}">{{ menu.texto }}</a></li>
									{% endfor %}
									{%if produtos%}
									<li><a href="{{base_url}}/produtos/1">Produtos</a></li>
									{%endif%}
									{%if posts%}
									<li><a href="{{base_url}}/posts/1">Blog</a></li>
									{%endif%}
									<li ><a href="{{base_url}}/contato">Contato</a></li>
								</ul>
							</div><!--/navbar-collapse-->
						</div>
					</div>
					<!-- End Navbar -->
					{% endblock %}
				</div>
				<!--=== End Header ===-->

				{% endblock %}
				{% block content %}
				<!--=== Breadcrumbs ===-->
				<div class="breadcrumbs">
					<div class="container">
						<h1 class="pull-left">Quem Somos</h1>
						<ul class="pull-right breadcrumb">
							<li><a href="{{base_url}}/">Home</a></li>
							<li class="active">Quem Somos</li>
						</ul>
					</div><!--/container-->
				</div><!--/breadcrumbs-->
				<!--=== End Breadcrumbs ===-->

				<!--=== Content ===-->
				<div class="container content">
					<h2>Nossa História</h2>
					{{empresa.historia | raw}}
				</div>
				<!--=== Content ===-->
				<div class="container content">
					<h2>Mais Sobre Nós</h2>
					{{empresa.resumo | raw}}
				</div>
					<div class="container content">
						<div class="row margin-bottom-10">                 
							<div class="col-md-4 col-sm-6">                 
								<div class="service-block rounded-2x service-block-dark-blue">        
									<i class="icon-2x color-light fa fa-fighter-jet"></i>             
									<h2 class="heading-md">Missão</h2>
									<p class="color-light">{{empresa.missao}}</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">           
								<div class="service-block rounded-2x service-block-purple">            
									<i class="icon-2x color-light fa fa-eye"></i>                      
									<h2 class="heading-md">Visão</h2>
									<p class="color-light">{{empresa.visao}}</p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6">         
								<div class="service-block rounded-2x service-block-light-green">          
									<i class="icon-2x color-light fa fa-dollar"></i>                   
									<h2 class="heading-md">Valores</h2>
									<ul class="text-left color-light" style="list-style-type: none;">
										{%for valor in empresa.valores%}
										<li><p>{{valor}}</p>
										{%endfor%}
									</ul>
								</div>
							</div>
						</div>
					</div>
			</div>
			{% endblock %}
